body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}
 
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.white {
    color: #f4f4fd;
}

.button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* #common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
}  
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
    }
}

/* #region header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-list,
.address {
    display: none;
}

.logo-header {
    display: block;
    padding: 16px 0;
} 

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-color {
    color: #2e2f42;
}

.burger-button {
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-button {
    display: none;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo-header {
    padding: 24px 0;
    margin-right: 120px;
}

.address {
    font-style: normal;
display: block;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.list-contacts-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contacts-link:hover,
.list-contacts-link:focus {
    color: #404bbf;
}

.nav-item-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:hover,
.nav-item-link:focus {
    color: #404bbf;
}


.nav-item-link.current {
    color: #404bbf;
    position: relative;
}

.nav-item-link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-item-link:hover::after,
.nav-item-link:focus::after {
    width: 100%;
}
}

@media screen and (min-width: 1158px) {
.logo-header {
    margin-right: 76px;
}

.address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.list-contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}

/* #region mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    margin-bottom: 24px;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:focus,
.mobile-menu-close:hover {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.icon-close-button {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-button:hover,
.icon-close-button:focus {
    fill: #fff;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
    color: #404bbf;
}

.mobile-menu-address {
    margin-bottom: 48px;
}

.mobile-menu-address-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-address-link {
    color: #434455;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address-link:hover,
.mobile-address-link:focus {
    color: #404bbf;
}

.mobile-social-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.mobile-socmedia-list-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg {
    fill: #f4f4fd;
}

.mobile-socmedia-list-link:hover,
.mobile-socmedia-list-link:focus {
    background-color: #404bbf;
    transform: translateY(0%);
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
/* #endregion mobile menu */

/* #endregion header */

/* #region Hero */

.hero {
 padding: 72px 0px;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
    image-set(
    url(../images/office-1.jpg ) 1x,
    url(../images/office-1x2.jpg) 2x ) ;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 320px;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 72px;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 216px;
    margin-bottom: 36px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
.hero {
    padding: 112px 0;
    min-width: 768px;
} 

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    min-width: 496px;
}
}

@media screen and (min-width: 1158px) {
    .hero {
    padding: 188px 0;
    max-width: 1440px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    min-width: 496px;
    margin-bottom: 48px;

}
}
/* #endregion Hero */

/* #region Features */
.features {
    padding: 96px 0;
}

.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.features-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    width: 288px;
    /* Соответствует макету */
}

.features-list-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.features-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .features-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
        column-gap: 24px;
    }

    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        justify-content: center;
        gap: 24px;
    }

    .features-list-item {
        width: calc((100% - 24px) / 2);
        text-align: left;
    }

    .features-list-title {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    .features-list-text {
        font-weight: 400;
        font-size: 16px;
    }
}
@media screen and (min-width: 1158px) {
    .features {
            padding: 120px 0;
        }
    
        .features-container {
            display: flex;
    
        }
    
        .features-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: #2e2f42;
        }
    
        .features-list {
            gap: 24px;
        }
    
        .features-list-items {
            width: calc((100% - 72px) / 4);
        }
    
        .features-list-link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 112px;
            background-color: #f4f4fd;
            border-radius: 4px;
            border: 1px solid #8e8f99;
            margin-bottom: 8px;
        }
    
        .icon-features {
            width: 64px;
            height: 64px;
            fill: #4d5ae5;
        }
    
        .features-list-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 8px;
        }
    
        .features-list-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
}


/* #endregion Features */